<md-card>
  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="Name">
    </md-input-container><br>

    <md-input-container>
      <input mdInput placeholder="Email">
    </md-input-container><br>

    <md-input-container>
      <input mdInput placeholder="Password">
    </md-input-container>

    <md-card-actions class="submit-button">
        <button color="primary" type="submit" md-raised-button class="button-width" (click)="redirect()">Log In</button>
      </md-card-actions>
  </md-card-content>
</md-card>